.navbar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: lightcyan;
}

.menulist {
  display: flex;
  margin: 5px;
}

.menuitem {
  margin: 5px;
}

.menueditor {
  background-color: lightgrey;
}

.menuitemlist {
  background-color: lightgreen;
}

.editorbar {
  background-color: lightsalmon;
}

.movercontainer {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
}

.delete {
  background-color: lightyellow;
}

.Description {
  color: blue;
  margin: 5px;
}

.Category {
  color: white;
  margin: 5px;
}

.HeadLineSmall {
  color: red;
  margin: 5px;
}

.HeadLineBig {
  color: yellow;
  margin: 5px;
}

.ItemName {
  color: gray;
  margin: 5px;
}

.qrcode {
  height: 350px;
  width: 350px;
}

.languageselector {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  align-items: baseline;
}

.formbutton {
  cursor: pointer;
}
